:root {
  --font-bold: 500;
  --font-small: 1.2rem;
  --font-normal: 1.6rem;
  --font-big: 2rem;
  --background-color: #fafafa;
  --primary-color: #262626;
  --secondary-color: #8e8e8e;
  --placeholder-color: #979797;
  --white-color: #fff;
  --blue-color: #139ef2;
  --gray-color: #dbdbdb;
  --profile-big: 5.6rem;
  --profile-normal: 3.2rem;
  --bar-height: 5.6rem;
}

*,
*:before,
*:after {
  font: 62.5% "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 98.4rem;
  height: 100dvh;
  margin: 0 auto;
  padding-inline: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--primary-color);
  background-color: var(--background-color);
}

ion-icon:hover,
input:hover,
#logo:hover,
.story:hover {
  cursor: pointer;
}

ion-icon {
  font-size: 2.4rem;
  color: var(--primary-color);
}

header,
footer > nav {
  width: 100dvw;
  height: var(--bar-height);
  padding-inline: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  border: 1px solid var(--gray-color);
  background-color: var(--white-color);
}

header {
  top: 0;
  left: 0;
}

#logo {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

#logo ion-icon {
  margin-block: 0.8rem;
}

#logo img {
  padding-inline: 1.6rem;
  border-left: 1px solid var(--gray-color);
}

#logo-mobile {
  display: none;
}

#search-bar {
  width: 21.6rem;
  height: 3.2rem;

  font-size: var(--font-normal);
  padding-inline: 1.2rem;

  background-color: var(--background-color);
  border: 1px solid var(--gray-color);
  border-radius: 0.4rem;
}

#search-bar::placeholder {
  font-size: var(--font-small);
  color: var(--placeholder-color);
  text-align: center;
}

#search-bar:focus {
  outline-color: #8e8e8e;
}

header > nav,
.menu-desktop {
  display: flex;
  gap: 1.6rem;
}

main {
  width: 100%;
  max-width: 61.6rem;
  margin: calc(var(--bar-height) + 3.6rem) auto 0;
}

#stories-bar {
  position: relative;

  display: flex;
  align-items: center;
}

#stories {
  height: 12rem;
  padding-inline: 1.6rem;
  overflow-x: scroll;

  background-color: var(--white-color);
  border: 1px solid var(--gray-color);

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

#stories::-webkit-scrollbar {
  display: none;
}

#arrow {
  position: absolute;
  top: 4rem;
  right: 1.6rem;

  font-size: 4rem;
  color: var(--background-color);
  filter: drop-shadow(1px 1px 2px var(--primary-color));
}

.story {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.story-picture {
  width: 6.6rem;
  height: 6.6rem;
  background: url("/assets/images/utils/story-circle.svg");
  background-size: cover;
}

.story-picture img {
  width: 5.6rem;
  height: 5.6rem;
  position: relative;
  top: 5px;
}

.story-username {
  width: 6.6rem;
  margin-top: 0.8rem;

  font-size: var(--font-small);
  overflow: hidden;
  text-overflow: ellipsis;
}

.story:hover {
  text-decoration: underline;
}

footer > nav {
  display: none;
}

@media only screen and (max-width: 614px) {
  .menu-desktop,
  #logo img,
  #search-bar,
  #arrow {
    display: none;
  }

  #logo-mobile {
    display: flex;
  }

  body,
  main {
    padding: 0;
  }

  main {
    margin: calc(var(--bar-height)) auto 0;
  }

  #stories {
    background-color: var(--background-color);
    border: none;
  }

  footer > nav {
    max-width: 66.4rem;

    display: flex;

    bottom: 0;
    left: 0;
  }
}
